<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>视点</title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/analysis.css">
	</head>

	<body onload="init()">
		<table class="paramTable">
			<tr>
				<td>名称:</td>
				<td><input class="textFieldLong" maxlength="10" type="text" id="pointName" name="pointName" value="未命名视点" onkeyup="checkStr(this)" /></td>
			</tr>
			<tr>
				<td>描述:</td>
				<td><textarea class="textFieldLong" rows="4" id="description" name="description"></textarea></td>
			</tr>
		</table>
		<div class="buttonTd">
			<button onClick="confirmData()">确定</button>
			<button onClick="cancelClick()">取消</button>
		</div>

		<script src="../../js/plugins/jquery1.9.0.min.js"></script>
		<script src="../../js/common/common.js"></script>
		<script type="text/javascript">
			//接收页面参数
			var params = window.dialogArguments;
			var titleText = params.titleText;
			var earth = params.earth;

			/**
			 * 初始化
			 */
			function init() {
				var data = params.data;
				if(data != null) {
					var name = data.getAttribute("name");
					var desp = data.selectSingleNode("Description").text;
					pointName.value = name;
					description.value = desp;
				}
			}

			/**
			 * 取消按钮click
			 */
			function cancelClick() {
				window.close();
			}

			/**
			 * 确认
			 */
			function confirmData() {
				if(pointName.value == "") {
					alert("名称不能为空！");
					pointName.focus();
					return;
				}
				if(pointName.value.length > 10) {
					alert("名称字数不能超过10个！");
					pointName.focus();
					return;
				}
				if(containSpecial(pointName.value)) {
					alert("名称不能有特殊字符！");
					pointName.focus();
					return;
				}
				if(description.value.length > 50) {
					alert("描述信息不要超过50个字符");
					description.focus();
					return;
				}
				var data = {
					pointName: pointName.value,
					description: description.value
				};
				window.returnValue = data;
				window.close();
			}

			/**
			 * 是否包含特殊字符
			 * @param {Object} s  输入字符串
			 */
			function containSpecial(s) {
				var containSpecial = RegExp(/[(\ )(\~)(\!)(\@)(\#)(\$)(\%)(\^)(\&)(\*)(\()(\))(\-)(\_)(\+)(\=)(\[)(\])(\{)(\})(\|)(\\)(\;)(\:)(\')(\")(\,)(\.)(\/)(\<)(\>)(\?)(\)]+/);
				return(containSpecial.test(s));
			}
		</script>
	</body>

</html>