<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>观察点设置</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/analysis.css" />
</head>

<body onload="init()">
    <table class="paramTable">
        <tr>
            <td>名称:</td>

            <td>
                <input type="text" id="lookatName" value="lookat" />
            </td>
        </tr>

        <tr>
            <td>经度:</td>

            <td>
                <input type="text" id="longitude" value="" disabled/><span class="afterInText">(-180°~180°)</span></td>
        </tr>

        <tr>
            <td>纬度:</td>

            <td>
                <input type="text" id="latitude" value="" disabled/><span class="afterInText">(-90°~90°)</span></td>
        </tr>

        <tr>
            <td>高程:</td>

            <td>
                <input type="text" id="altitude" value="" disabled/><span class="afterInText">米</span></td>
        </tr>

        <tr>
            <td>朝向:</td>

            <td>
                <input type="text" id="heading" value="0" onkeyup="checkNum(this, true, 2, 360, null)" /><span class="afterInText">(0°~360°)</span></td>
        </tr>

        <tr>
            <td>俯仰:</td>

            <td>
                <input type="text" id="tilt" value="0" onkeyup="checkNum(this, false, 2, 90)" /><span class="afterInText">(-90°~90°)</span></td>
        </tr>

        <tr>
            <td>旋转:</td>

            <td>
                <input type="text" id="roll" value="0" onkeyup="checkNum(this, true, 2, 360, null)" /><span class="afterInText">(0°~360°)</span></td>
        </tr>

        <tr style="display:none ">
            <td>距离:</td>

            <td>
                <input type="text" id="range" value="100" onkeyup="checkNum(this, true, 2, 10000, null)" />

                <span class="afterInText">米</span>
            </td>
        </tr>

        <tr style="display:none ">
            <td>飞行时间:</td>

            <td>
                <input type="text" id="time" value="5" onkeyup="checkNum(this, true, 2, null, null)" />
                <span class="afterInText">秒</span>
            </td>
        </tr>

        <tr>
            <td>时间:</td>

            <td>
                <input type="text" id="stopTime" value="5" onkeyup="checkNum(this, true, 2, null, null)" />
                <span class="afterInText">秒</span>
            </td>
        </tr>
    </table>

    <div class="buttonTd">
        <button onclick="confirm();">确定</button>
        <button onclick="window.close();">取消</button>
    </div>

    <script type="text/javascript" src="../../js/plugins/jquery1.9.0.min.js"></script>

    <script type="text/javascript" src="../../js/common/common.js"></script>
    
    <script type="text/javascript" src="../../js/view/lookatSetting.js"></script>
</body>

</html>