<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title style="overflow: hidden;">新建</title>
    <link rel="stylesheet" href="../../css/common.css">
    <style>
    html,
    body {
        width: 100%;
        overflow: hidden;
        padding-top: 5px;
        text-align: center;
    }

    div {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    </style>
</head>

<body>
    <div>
        <span>名  称:</span>

        <input type="text" name="trackName" id="trackName" maxlength="10" />
    </div>

    <div>
        <button id="btnAdd" class="largeBtn">确定</button>
        <button id="btnCancel" class="largeBtn">取消</button>
    </div>

    <script type="text/javascript" src="../../js/plugins/jquery1.9.0.min.js"></script>
    
    <script type="text/javascript" src="../../js/view/track_add.js"></script>
</body>

</html>