<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>图层管理</title>
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link rel="stylesheet" type="text/css" href="../../css/easyui/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../css/easyui/icon.css">
    <link rel="stylesheet" href="../../js/plugins/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="../../css/mCustomScrollbar/jquery.mCustomScrollbar.css" />
</head>

<body style="height: 100%;background-color: #eaedf2">
    <div id="layerManger">
        <!-- 图层管理树-tree START -->
        <div class="easyui-tabs" border="false" id="id_tree_body">
            <div title="基础图层" id="layerTreeDiv">
                <ul class="ztree" id="layerTree">
                    <!-- 基础图层 -->
                </ul>
            </div>

            <div title="管线图层" id="pipelineLayerDiv">
                <ul class="ztree" id="pipelineLayerTree">
                    <!-- 管线图层 -->
                </ul>
            </div>
        </div>
        <!-- 图层管理树-tree END -->
    </div>

    <script type="text/javascript" src="../../js/plugins/jquery1.9.0.min.js"></script>

    <script type="text/javascript" src="../../js/plugins/jquery.easyui.min.js"></script>

    <script type="text/javascript" src="../../js/plugins/zTreeStyle/jquery.ztree.js"></script>

    <script type="text/javascript" src="../../js/plugins/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="../../js/view/treeview.js"></script>
</body>

</html>